<!DOCTYPE html>
<html>
    <head>
        <title>GCUB - ProAfri</title>
   
        <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>    
        
	<link rel="stylesheet" href="../css/bootstrap-iso.css" /> 

        <!--Font Awesome (added because you use icons in your prepend/append)-->
        <link rel="stylesheet" href="../css/font-awesome.min.css" />

	<!-- Custom Style -->
'	<link rel="stylesheet" href="../css/style.css" /> 

        <!-- Inline CSS based on choices in "Settings" tab -->
        <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Impact, Charcoal, sans-serif; color: #2033bc}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555; background-color: #c8c8c8; border-radius: 4px; padding-left:12px}</style>

        <!-- HTML Form (wrapped in a .bootstrap-iso div) -->

	<meta charset="utf-8">
    </head>
<body>
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 box">
    <div class="formden_header">
    </div>
    <form method="post" id="candidateForm">

    <!-- INICIO DA SEÇÃO I -->
    <div class="form-group ">
        <h1 class="bg-primary">Seção I</h1>
        <h3 class="bg-info text-muted">Seleção do Programa de Estudos</h3>
        <label class="control-label requiredField" for="programA">
            Programa 1
            <span class="asteriskField">
            *
            </span>
        </label>
        <select class="select form-control" id="programA" name="programA" required>
            <% for (var i = 0; i < programs.mr.length; i++) { %>
                <option value=<%= programs.mr[i]._id %>><%= programs.mr[i].name %></option>
            <% } %>
            <% for (var i = 0; i < programs.dc.length; i++) { %>
                <option value=<%= programs.dc[i]._id %>><%= programs.dc[i].name %></option>
            <% } %>
        </select>
        <span class="help-block" id="hint_programA">
            Seleciona o programa que voc&ecirc; deseja aplicar.
        </span>
    </div>
    <div class="form-group ">
        <label class="control-label requiredField" for="programB">
            Programa 2
            <span class="asteriskField">
            *
            </span>
        </label>
        <select class="select form-control" id="programB" name="programB">
            <% for (var i = 0; i < programs.mr.length; i++) { %>
                <option value=<%= programs.mr[i]._id %>><%= programs.mr[i].name %></option>
            <% } %>
            <% for (var i = 0; i < programs.dc.length; i++) { %>
                <option value=<%= programs.dc[i]._id %>><%= programs.dc[i].name %></option>
            <% } %>
        </select>
        <span class="help-block" id="hint_programB">
            Seleciona o programa que voc&ecirc; deseja aplicar.
        </span>
        <br>
        <p>Por favor, indicar se concorda aceitar uma oferta de bolsa de outra universidade diferente das que 
                selecionou no campo anterior, a fim de incrementar suas possibilidades de seleção, uma vez que a Comissão Final 
                de Avaliação levará em consideração, entre outros critérios, fatores como a distribuição geográfica, o mérito 
                acadêmico do candidato e a decisão de admissão da universidade. As instituições considerarão seus objetivos 
                educativos, suas qualificações acadêmicas, o campo de estudos, entre outros. </p>
        <div style="color:limegreen">
        <input name="acordo1" type="checkbox" required/> 
            Sim, Concordo
        </div>        

    </div>
    <!-- TERMINO DA SEÇÃO I -->

    <!-- INICIO DA SEÇÂO II -->
    <h1 class="bg-primary">Seção II</h1>
    <h3 class="bg-info text-muted">1.DADOS PESSOAIS</h3>   
     <div class="form-group ">
      <label class="control-label requiredField" for="name">
       Nome
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="name" name="name" type="text" required/>
      <span class="help-block" id="hint_name">
       Coloque seu nome completo
      </span>
     </div>
     <div class="form-group ">
        <label class="control-label requiredField" for="address">
            Endere&ccedil;o
            <span class="asteriskField">
            *
            </span>
        </label>
        <input class="form-control" id="address" name="address" type="text" required/>
        <span class="help-block" id="hint_address">
            Coloque o seu atual endere&ccedil;o de resid&ecirc;ncia.
        </span>
    </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" placeholder="exemplo@email.com" type="text" required/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="country">
       Pa&iacute;s
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="country" name="country" placeholder="Mo&ccedil;ambique" type="text" required/>
      <span class="help-block" id="hint_country">
       Coloque seu pa&iacute;s de origem
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="telFixed">
       Telefone Fixo
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-phone">
        </i>
       </div>
       <input class="form-control" id="telFixed" name="telFixed" placeholder="+55(86)9999-9999" type="text" required/>
      </div>
      <span class="help-block" id="hint_telFixed">
       Coloque seu numero de telefone fixo
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="telMovel">
       Telephone M&oacute;vel
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-phone">
        </i>
       </div>
       <input class="form-control" id="telMovel" name="telMovel" placeholder="+55(86)9999-9999" type="text" required/>
      </div>
      <span class="help-block" id="hint_telMovel">
       Coloque seu numero de telefone m&oacute;vel
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="gender">
       G&ecirc;nero
       <span class="asteriskField">
        *
       </span>
      </label>
      <select class="select form-control" id="gender" name="gender" required>
       <option value="masculino">
        Masculino
       </option>
       <option value="feminino">
        Feminino
       </option>
       <option value="outros">
        Outros
       </option>
      </select>
      <span class="help-block" id="hint_gender">
       Escolha o seu g&ecirc;nero
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="dob">
       Data de Nascimento
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="dob" name="dob" placeholder="DD/MM/AAAA" type="date" required/>
      <span class="help-block" id="hint_dob">
       Coloque a sua data de Nascimento
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="civilState">
       Estado C&iacute;vil
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="civilState" name="civilState" placeholder="Solteiro(a)" type="text" required/>
      <span class="help-block" id="hint_civilState">
       Coloque o seu estado c&iacute;vil
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="passportNumber">
       Passsaporte - N&uacute;mero
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="passportNumber" name="passportNumber" placeholder="AA000000" type="text" required/>
      <span class="help-block" id="hint_passportNumber">
       Coloque o numero do seu passaporte
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="passportCountry">
       Passaporte - Pa&iacute;s
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="passportCountry" name="passportCountry" placeholder="Brasil" type="text" required/>
      <span class="help-block" id="hint_passportCountry">
       Coloque o pais que est&aacute; no seu passaporte
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="passportExpirationDate">
       Passaporte - Data De Expira&ccedil;&atilde;o
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="passportExpirationDate" name="passportExpirationDate" placeholder="DD/MM/AAAA" type="date" required/>
      <span class="help-block" id="hint_passportExpirationDate">
       Coloque a data de expira&ccedil;&atilde;o de seu passaporte
      </span>
     </div>
     <h3 class="bg-info text-muted">2.IDIOMAS</h3>
     <div class="form-group ">
      <label class="control-label requiredField" for="languageNative">
       Lingua Nativa
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="languageNative" name="languageNative" placeholder="Portugu&ecirc;s" type="text" required/>
      <span class="help-block" id="hint_languageNative">
       Coloque a sua linga nativa
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label " for="languageForeign">
       Outras L&iacute;nguas
      </label>
      <textarea class="form-control" cols="40" id="languageForeign" name="languageForeign" placeholder="Ingl&ecirc;s, Espanhol, Franc&ecirc;s..." rows="2"></textarea>
      <span class="help-block" id="hint_languageForeign">
       Coloque, separado por v&iacute;rgulas, outras l&iacute;nguas que voc&ecirc; &eacute; fluente.
      </span>
     </div>
     <h3 class="bg-info text-muted">3.PONTUAÇÃO DE EXAMES DE IDIOMAS (Se corresponder)</h3>
     <div class="form-group ">
      <label class="control-label" for="languageExamPointsToefl">
       TOEFL - Pontua&ccedil;&atilde;o
      </label>
      <input class="form-control" id="languageExamPointsToefl" name="languageExamPointsToefl" placeholder="600" type="text"/>
      <span class="help-block" id="hint_languageExamPointsToefl">
       Coloque a sua pontua&ccedil;&atilde;o alcan&ccedil;ada no TOEFL.
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label" for="languageExamPointsOthers">
       Outros Exames De Profici&ecirc;ncia
      </label>
      <textarea class="form-control" cols="40" id="languageExamPointsOthers" name="languageExamPointsOthers" placeholder="IELTS: 500" rows="2"></textarea>
      <span class="help-block" id="hint_languageExamPointsOthers">
       Coloque, seguindo o modelo acima, outros exames que voc&ecirc; realizou junto com a pontua&ccedil;&atilde;o alcan&ccedil;ada nos mesmos.
      </span>
     </div>

     <!-- INICIO DA SEÇÃO 4 -->
     <section id="academicSection">
        <h3 class="bg-info text-muted">4.EDUCAÇÃO UNIVERSITÁRIA (Começar pelo título mais recente)</h3>
        <div class="panel panel-info" id="academicParent">
            <div class="panel-heading">Título Obtido</div>
            <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="degree">
                    T&iacute;tulo Obtido.
                </label>
                <input class="form-control degree" id="degree" name="degree" type="text"/>
                <span class="help-block" id="hint_degree">
                    Coloque se o t&iacute;tulo alcan&ccedil;ado foi PHD, Mestrado...
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicInstituition">
                    Institui&ccedil;&atilde;o
                </label>
                <input class="form-control academicInstitution" id="academicInstitution" name="academicInstituition" type="text"/>
                <span class="help-block" id="hint_academicInstituition">
                    Coloque a institui&ccedil;&atilde;o na qual voc&ecirc; ganhou este t&iacute;tulo.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicCity">
                    Cidade
                </label>
                <input class="form-control academicCity" id="academicCity" name="academicCity" type="text"/>
                <span class="help-block" id="hint_academicCity">
                    Coloque a cidade dessa institui&ccedil;&atilde;o.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicCountry">
                    Pa&iacute;s
                </label>
                <input class="form-control academicCountry" id="academicCountry" name="academicCountry" type="text"/>
                <span class="help-block" id="hint_academicCountry">
                    Coloque o Pa&iacute;s dessa institui&ccedil;&atilde;o
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicAverage">
                    M&eacute;dia Obtida
                </label>
                <input class="form-control academicAverage" id="academicAverage" name="academicAverage" type="text"/>
                <span class="help-block" id="hint_academicAverage">
                    Coloque sua m&eacute;dia.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicStartDate">
                    Data de &iacute;nicio
                </label>
                <input class="form-control academicStartDate" id="academicStartDate" name="academicStartDate" placeholder="DD/MM/AAAA" type="date"/>
                <span class="help-block" id="hint_academicStartDate">
                    Coloque a data na qual iniciou os seus estudos nessa institui&ccedil;&atilde;o.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="date5">
                    Data de t&eacute;rmino.
                </label>
                <input class="form-control academicEndDate" id="date5" name="date5" placeholder="DD/MM/AAAA" type="date"/>
                <span class="help-block" id="hint_date5">
                    Coloque a data na qual voc&ecirc; terminou seus estudos na institui&ccedil;&atilde;o.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label " for="academicStudy">
                    &Aacute;rea de estudo.
                </label>
                <input class="form-control academicStudy" id="academicStudy" name="academicStudy" type="text"/>
                <span class="help-block" id="hint_academicStudy">
                    Coloque a &aacute;rea de estudo praticada nessa institui&ccedil;&atilde;o.
                </span>
                </div>
                <div class="form-group panel-body" style="padding-bottom:0px">
                <label class="control-label" for="academicProgramName">
                    Nome Do Programa.
                </label>
                <input class="form-control academicProgramName" id="academicProgramName" name="academicProgramName" type="text"/>
                <span class="help-block" id="hint_academicProgramName">
                    Coloque o nome do programa no qual voc&ecirc; participou nessa institui&ccedil;&atilde;o.
                </span>
            </div>
        </div>
    </section>
    <div class="form-group">
        <div>
            <div class="btn btn-primary btn-lg" id="addAcademic">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <!-- FIM DA SEÇÃO 4 -->

    <!-- INICIO DA SEÇÃO 5 -->
    <section id="paperSection">
    <h3 class="bg-info text-muted">5.PUBLICAÇÕES/PRÊMIOS/BOLSAS</h3>
    <div class="panel panel-info">
        <div class="panel-heading">Publicação/Prêmio/Bolsa</div>
        <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="paperTitle">
                T&iacute;tulo
            </label>
            <input class="form-control paperTitle" id="paperTitle" name="paperTitle" type="text"/>
            <span class="help-block" id="hint_paperTitle">
                Coloque o t&iacute;tulo de sua publica&ccedil;&atilde;o
            </span>
        </div>  
        <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="paperYear">
                Ano De Publica&ccedil;&atilde;o
            </label>
            <input class="form-control paperYear" id="paperYear" name="paperYear" placeholder="2015" type="text"/>
            <span class="help-block" id="hint_paperYear">
                Coloque o ano de publica&ccedil;&atilde;o de seu artigo
            </span>
        </div>
    </div> 
    </section>
    <div class="form-group">
        <div>
            <div class="btn btn-primary btn-lg" id="addPaper">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <!-- FIM DA SEÇÃO 5 -->

    <!-- INICIO DA SEÇÃO 6 -->
    <section id="workSection">
    <h3 class="bg-info text-muted">6.EXPERIÊNCIA PROFISSIONAL</h3>
    <div class="panel panel-info" id="workParent">
        <div class="panel-heading">Experiência</div>
        <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="officeHolder">
                T&iacute;tulo do Posto
            </label>
            <input class="form-control officeHolder" id="officeHolder" name="officeHolder" type="text"/>
            <span class="help-block" id="hint_officeHolder">
                Coloque o posto que voc&ecirc; ocupou, ou ocupa atualmente.
            </span>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="employingInstitution">
                Institui&ccedil;&atilde;o Empregadora
            </label>
            <input class="form-control employingInstitution" id="employingInstitution" name="employingInstitution" type="text"/>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="workCity">
                Cidade
            </label>
            <input class="form-control workCity" id="workCity" name="workCity" type="text"/>
            <span class="help-block" id="hint_city">
                Coloque a cidade onde exerceu/exerce este cargo.
            </span>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="workCountry">
                Pa&iacute;s
            </label>
            <input class="form-control workCountry" id="workCountry" name="workCountry" type="text"/>
            <span class="help-block" id="hint_workCountry">
                Coloque o pa&iacute;s onde exerceu/exerce este posto.
            </span>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="workStartDate">
                Data de In&iacute;cio
            </label>
            <input class="form-control workStartDate" id="workStartDate" name="workStartDate" placeholder="DD/MM/AAAA" type="date"/>
            <span class="help-block" id="hint_workStartDate">
                Coloque a data de in&iacute;cio do exercicio desse posto.
            </span>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="workEndDate">
                Data de T&eacute;rmino.
            </label>
            <input class="form-control workEndDate" id="workEndDate" name="workEndDate" placeholder="DD/MM/AAAA" type="date"/>
            <span class="help-block" id="hint_workEndDate">
                Coloque a data de t&eacute;rmino do exerc&iacute;cio desse posto.
            </span>
            </div>
            <div class="form-group panel-body" style="padding-bottom:0px">
            <label class="control-label " for="workDescription">
                Descri&ccedil;&atilde;o
            </label>
            <textarea class="form-control workDescription" cols="40" id="workDescription" name="workDescription" rows="2"></textarea>
            <span class="help-block" id="hint_workDescription">
                Coloque uma breve descri&ccedil;&atilde;o desse posto.
            </span>
        </div>
    </div>
    </section>
    <div class="form-group">
        <div>
            <div class="btn btn-primary btn-lg" id="addWork">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </div>
    </div>
    <!-- FIM DA SEÇÃO 6 -->

    <!-- INICIO DA SEÇÃO 7 -->
    <h3 class="bg-info text-muted">7.INFORMAÇÃO COMPLEMENTAR(OPCIONAL):</h3>
    <div class="form-group" id="div_isImpairment">
        <label class="control-label" for="isImpairment">
            Voc&ecirc; tem alguma defici&ecirc;ncia ?
        </label>
        <div class="">
            <label class="radio-inline">
            <input name="isImpairment" type="radio" value="true"/>
            Sim
            </label>
            <label class="radio-inline">
            <input name="isImpairment" type="radio" value="false"/>
            N&atilde;o
            </label>
        </div>
    </div>
    <div class="form-group ">
        <label class="control-label" for="impairmentDetail">
            Defici&ecirc;ncia
        </label>
        <textarea class="form-control" cols="40" id="impairmentDetail" name="impairmentDetail" rows="2" disabled></textarea>
        <span class="help-block" id="hint_impairmentDetail">
            Caso voc&ecirc; tem alguma defici&ecirc;ns, nos conte mais sobre ela no espa&ccedil;o acima.
        </span>
    </div>
    <div class="form-group ">
        <label class="control-label " for="needs">
            Necessidades Especiais
        </label>
        <textarea class="form-control" cols="40" id="needs" name="needs" rows="2" disabled></textarea>
    </div>
    <br>
    <input name="acordo2" type="checkbox" style="display:inline" required/> 
    Certifico que li, entendo e aceito completamente as regras e condições estabelecidas no 
    <strong>Edital GCUB/ ProAfri nº 001/2018</strong>, referente ao <strong>PROGRAMA DE FORMAÇÃO 
    DE PROFESSORES DE EDUCAÇÃO SUPERIOR DE PAÍSES AFRICANOS - ProAfri, Edição Moçambique</strong>. 
    Compreendo que caso seja selecionado(a), aceitar a oferta de bolsa do Programa implicará assumir 
    todas as responsabilidades financeiras não cobertas por este Edital.
    <br><br>
    <input name="acordo3" type="checkbox" style="display:inline" required/>     
    Certifico que as declarações feitas por mim como respostas às perguntas anteriores são verídicas,
    completas e corretas e compreendo que qualquer falsidade ou omissão neste ou em qualquer documento
    exigido pelo GCUB poderá dar motivo à minha exclusão do processo de seleção.
    <br><br>
    <div class="alert alert-info">
        <p>Os nomes dos candidatos selecionados serão publicados na página web do GCUB <a href="http://www.grupocoimbra.org.br">
            (http://www.grupocoimbra.org.br/)</a>. Compreendo que ao enviar o formulário de solicitação de candidatura completo,
            estou de acordo com a publicação do meu nome.</p>
    </div>
     <!-- FIM DA SEÇÃO 7 -->

     <div class="form-group">
      <div>
       <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">
        Enviar
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
<script src="./css/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/candidate_main.js"></script>
<script src="../js/candidate_util.js"></script>
</body>
</html>
