<!--
  SERVIDOR DEVE FORNECER:

  programs : lista de programas ofertados
    - mc : lista de programas de mestrado
    - dc : lista de programas de doutorado
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form id="candidateForm">
      <fieldset>
        <legend>Sessão I: Seleção do Programa de Estudos</legend>
        <p>Por favor, indique os dois programas de estudo de seu interesse. Lembre-se de escolher diferentes programas de pós-graduação da mesma universidade ou de universidades distintas.</p>
        
        <label>Modalidade</label>
        <input type="radio" name="level" value="mr"> Mestrado
        <input type="radio" name="level" value="dc"> Doutorado
        
        <label>Opção 1</label>
        <select name="programA" required>
          <% for (var i = 0; i < programs.mr.length; i++) { %>
            <option value=<%= programs.mr[i]._id %>><%= programs.mr[i].name %></option>
          <% } %>
          <% for (var i = 0; i < programs.dc.length; i++) { %>
            <option value=<%= programs.dc[i]._id %>><%= programs.dc[i].name %></option>
          <% } %>
        </select>

        <label>Opção 2</label>
        <select name="programB" required>
          <% for (var i = 0; i < programs.mr.length; i++) { %>
            <option value=<%= programs.mr[i]._id %>><%= programs.mr[i].name %></option>
          <% } %>
          <% for (var i = 0; i < programs.dc.length; i++) { %>
            <option value=<%= programs.mr[i]._id %>><%= programs.dc[i].name %></option>
          <% } %>
        </select>
      </fieldset>

      <fieldset>
        <legend>Sessão II</legend>
        
        <fieldset>
          <legend>1. Dados Pessoais</legend>
          
          <label>País de cidadania ou residência legal</label>
          <input type="text" name="country" placeholder="Nome do País" required>
          
          <label>Nome</label>
          <input type="text" name="name" placeholder="Nome completo" required>
          
          <label>Endereço Atual</label>
          <input type="text" name="address" placeholder="Endereço completo" required>
          
          <label>Email</label>
          <input type="email" name="email" placeholder="exemplo@gmail.com" required>
          
          <label>Telefone Móvel (Com código do país e da cidade)</label>
          <input type="tel" name="mobile" placeholder="Exemplo: 55 86 99999-9999" required>
          
          <label>Telefone Fixo (Com código do país e da cidade)</label>
          <input type="tel" name="fixed" placeholder="Exemplo: 55 86 99999-9999" required>
          
          <label>Sexo</label>
          <select name="sex" required>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outros</option>
          </select>

          <label>Data de nascimento</label>
          <input type="date" name="dob" required>
          
          <label>Estado Civil</label>
          <input type="text" name="civilState" placeholder="Solteiro(a), casado(a), ..." required>

          <fieldset>
            <legend>Passaporte</legend>
            
            <label>Número</label>
            <input type="text" name="passport_number" placeholder="Número do Passaporte" style="appearance:textfield;-webkit-appearance:textfield;-moz-appearance:textfield">
            
            <label>País Emissor</label>
            <input type="text" name="passport_country" placeholder="País Emissor do Passaporte">
            
            <label>Data de Expiração</label>
            <input type="date" name="passport_expiration">

          </fieldset>
        </fieldset>
        
        <fieldset>
          <legend>2. Idiomas</legend>
          
          <label>Idioma(s) Nativo(s)</label>
          <input type="text" name="native_langs" placeholder="Idiomas Nativos" required>
          
          <label>Idioma(s) Estrangeiro(s) (Indique todos os idiomas que domina e que possui certificados)</label>
          <input type="text" name="foreign_langs" placeholder="Separe cada idioma com um espaço">

        </fieldset>

        <fieldset>
          <legend>3. Pontuação de Exames de Idiomas</legend>
          
          <label>TOEFL</label>
          <input type="number" name="toefl" placeholder="Sua Pontuação nesse exame" min="0" max="120" step="0.01">
          
          <label>Outros (Especifique cada um)</label>
          <input type="text" name="others_langs_certificates" placeholder="Nome do certificado : Pontuação">

        </fieldset>

      </fieldset>
      <input type="submit"/>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/candidate_main.js"></script>
  </body>
</html>
